@import '../../design/colors.scss';

.post-index-container {
  max-width: 1300px;
  margin: 0 auto;
  background-color: $off-white;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .37);
  -moz-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .37);
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .37);
  .clear {
    clear: both;
  }
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  float: left;
  background: $platinum;
  border: 2px solid $black;
  border-radius: 2px;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }